body {
  background-image: linear-gradient(rgb(43, 40, 40), red);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sedgwick Ave Display', cursive;
}

nav {
  color: white;
}

img {
  height: 200px;
  width: auto;
  border: 5px  double rgb(228, 220, 220);
  box-shadow: 3px 3px rgb(169, 146, 146),
    -.1em 0 .4em rgb(63, 12, 12);
}

ul {
  list-style: none;
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


#links {
  text-decoration: none;
  color: white;
}